.main-menu>li {
    display: inline;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: lightgray;
}

.painel {
    height: 15rem;
}

.img-topo {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}